body {
  background: url(ciudad.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: 100% 100%;
}

img {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
  margin: auto;
  display: flex;
}

p {
  text-align: center;
  color: white;
}

h1 {
  color: #FF6C06;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

h3 {
  color:black;
  text-align: center;
  font-size: 35px;
  margin: 2px;
}

h4 {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 2px;
}

h5 {
  color:  white;
  text-align: center;
  font-size: 15px;
  margin: 2px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}

.buttons {
  text-align: center;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.later {
  background-color: #fff;
  color: #FF6C06;
  display: inline-block;
  font-size: 1.25em;
  margin-bottom: 10px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  width: 70%;
  border: 2px solid rgb(45, 244, 29);
  border-radius: 4px;
}

.later:hover {
  background-color: #FF6C06;
   box-shadow: 0 0 10px #FF6C06, 0 0 20px#FF6C06, 0 0 20px #FF6C06;
   color: #434343;
 }
 
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(45, 244, 29);
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}
